<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition Stream</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Face Recognition Stream</h1>
    <label class="switch">
        <input type="checkbox" id="cameraToggle">
        <span class="slider round"></span>
    </label>
    <p id="status">Camera is off</p>
    <canvas id="canvas" width="640" height="480" style="border:1px solid black;"></canvas>

    <script src="static/script.js"></script>
</body> 
</html>
